	<footer>
		<div class="footer-padding">
			<nav class="nav-footer">
				<ul>
					<li><a href="#">Resources</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Hickory Puppies</a></li>
					<li><a href="#">Hickory Pet Inn</a></li>
					<li><a href="#">Hickory Foundation</a></li>
				</ul>
			</nav>

			<div class="footer-contact">
			<ul class="social-media">
				<li><a class="fa fa-facebook-official" href="#"></a></li>
				<li><a class="fa fa-twitter" href="#"></a></li>
				<li><a class="fa fa-youtube" href="#"></a></li>
			</ul>

			<p class="phone">610-828-3054</p>Copyright {{"now"|date('Y')}}</div>
		</div>

		<p class="backtotop"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="js/main.js"></script>
